@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

* {
  font-family: Fira Code;
}

img {
  height: 50px;
  width: 50px;
}

body {
  background-image: linear-gradient(to bottom, brown, maroon);
  color: white;
}

.sword {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.shield {
  display: flex;
  align-items: center;
  font-size: 20px;
}

a {
  color: aquamarine;
}
